<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="| Syed Hassan Ali | Income tax and Company Law Advisor living and working in Dhaka, Bangladesh">
	<meta name="author" content="Syed Hassan Ali">
	<!-- favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/img/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/ico/favicon-16x16.png">
    <link rel="manifest" href="/img/ico/manifest.json">
    <link rel="mask-icon" href="/img/ico/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/ico/favicon.ico">
    <meta name="msapplication-config" content="/img/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
	
	<title>| Syed Hassan Ali | Income tax and Company Law Advisor living and working in Dhaka, Bangladesh</title>
	<!-- styles -->
	<!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	
	
	<!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet">
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!-- google analytics - i will not share this data with google -->
	<!-- google analytics - i will not share this data with google -->
	{% include analytics.html %}
	<!-- disqus - i will not share this data with disqus -->
	{% include disqus.html %}
	<!-- Put this script tag to the <head> of your page -->
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?152"></script>
	
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"> <img src="img/logo.png" class="img-fluid" alt="Hassan and Associates" width=42 height=42></h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="https://taxadvisor.ml">Home</a>
            <a class="nav-link" href="https://blog.hassanandassociates.ml">Blog</a>
            <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSfpEu18GwtXckk8qpcwxNPhRjHXEoeSP27mc_H-ycduDNzKIA/viewform">Contact</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
	    
        <h1 class="cover-heading">Syed Hassan Ali</h1>
		<img class="rounded-circle" src="/img/SyedHassanAli.png" alt="Syed Hassan Ali" width=96 height=96>
        <p class="lead">Hi, i'm an <span itemprop="title">Income tax</span> and <span itemprop="title">Company Law Advisor</span>, living in <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address"> <span itemprop="locality">Dhaka</span>, <span itemprop="region">Bangladesh</span> and now working as CEO for <span itemprop="affiliation"> <a href="https://hassanandassociates.ml" alt="Hassan and Associates"> Hassan and Associates</a></span> <br> <p>I'm also available for hire as an <span itemprop="title">Income tax and Company Law Advisor. </span> <br> <a href="https://docs.google.com/forms/d/e/1FAIpQLSfpEu18GwtXckk8qpcwxNPhRjHXEoeSP27mc_H-ycduDNzKIA/viewform">Drop me a line</a> about your query if you are interested in working with me.</p>
	    <p class="lead">
        <a href="https://taxadvisor.ml" class="btn btn-lg btn-secondary">About Me &raquo;</a>
        </p>
	</main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Home page of <a href="https://taxadvisor.ml/">taxadvisor</a>, by <a href="https://www.facebook.com/taxadvisorbd">@hassan</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
